<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav navbar"
    [ngClass]="{ hidden: !(isHandset$ | async) }"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary" style="background-color: #3e51b4"
      >Menu</mat-toolbar
    >
    <mat-nav-list>
      <a mat-list-item routerLink="/home" class="sideItem">
        <span [ngClass]="{ sideactive: inicioActive }">{{ inicio }}</span>
      </a>
      <a mat-list-item routerLink="/mascota" class="sideItem">
        <span [ngClass]="{ sideactive: petsActive }">{{ pets }}</span>
      </a>
      <a mat-list-item routerLink="/agenda" class="sideItem">
        <span [ngClass]="{ sideactive: agendaActive }">{{ agenda }}</span>
      </a>
      <!-- Boton desplegable -->
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title [ngClass]="{ sideactive: citasActive }">
            {{ citasString }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/citaprevia">
          <span [ngClass]="{ sideactive: citasPreviaActive }">
            {{ citaPrevia }}
          </span>
        </a>
        <a mat-list-item routerLink="/citafutura">
          <span [ngClass]="{ sideactive: citasFuturaActive }">
            {{ citaFutura }}
          </span>
        </a>
      </mat-expansion-panel>
      <span mat-list-item>
        <form class="d-flex flex-row align-items-center" role="search">
          <input
            class="form-control"
            type="search"
            name="search"
            placeholder="Perros o gatos??"
            aria-label="Buscar entre perros y mascotas"
            [(ngModel)]="search"
            list="dataFiltro"
            autocomplete="off"
          />
          <button mat-icon-button (click)="searchPet()">
            <mat-icon fontIcon="search"></mat-icon>
          </button>
        </form>
      </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="navbar">
      <button
        mat-icon-button
        class="d-flex align-items-center"
        routerLink="home"
      >
        <img src="../../../assets/img/favIcon.webp" />
      </button>
      <span id="brandName">PaWorld</span>
      <span class="spacer"></span>
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }@else{
      <a mat-button routerLink="/home">
        <span class="navItem" [ngClass]="{ active: inicioActive }">
          {{ inicio }}
        </span>
      </a>
      <a mat-button routerLink="/mascota">
        <span class="navItem" [ngClass]="{ active: petsActive }">
          {{ pets }}
        </span>
      </a>
      <a mat-button routerLink="/agenda">
        <span class="navItem" [ngClass]="{ active: agendaActive }">
          {{ agenda }}
        </span>
      </a>
      <!-- Boton desplegable -->
      <a mat-button [mat-menu-trigger-for]="citas">
        <span class="navItem mx-2" [ngClass]="{ active: citasActive }">
          {{ citasString }}
          <mat-icon fontIcon="expand_more"></mat-icon>
        </span>
      </a>
      <!-- Menu de citas -->
      <mat-menu #citas="matMenu">
        <a mat-menu-item routerLink="/citaprevia">
          <span [ngClass]="{ sideactive: citasPreviaActive }">
            {{ citaPrevia }}
          </span>
        </a>
        <a mat-menu-item routerLink="/citafutura">
          <span [ngClass]="{ sideactive: citasFuturaActive }">
            {{ citaFutura }}
          </span>
        </a>
      </mat-menu>
      <form class="d-flex flex-row align-items-center" role="search">
        <input
          class="form-control"
          type="search"
          name="search"
          placeholder="Perros o gatos??"
          aria-label="Buscar entre perros y mascotas"
          [(ngModel)]="search"
          list="dataFiltro"
          autocomplete="off"
        />
        <button mat-icon-button (click)="searchPet()">
          <mat-icon fontIcon="search"></mat-icon>
        </button>
      </form>
      }
    </mat-toolbar>
    <!-- CONTENIDO   -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<datalist id="dataFiltro">
  <option value="Perro"></option>
  <option value="Gato"></option>
</datalist>
