<div class="contenedor">
    <div id="dataPet">
        <img class="imgMascota" src={{mascota.imagen}} alt="...">
        <div id="petInfo">
            <div id="btnMascota">
            <button id="btnAnt" (click)="AnteriorMascota()" mat-flat-button color="primary"><</button>
            <button id="btnSig" (click)="SiguienteMascota()" mat-flat-button color="primary">></button>
            </div>
            <p>Raza: {{mascota.raza}}</p>
            <p>Sexo: {{mascota.sexo}} </p>
            <div class="petInfoRow">
                <p class="dato">Edad:{{mascota.edad}}</p>
                <p class="dato">Color: {{mascota.color}}</p>
            </div>
            <p>Tiempo en el refugio: {{tiempoRefugio}} días</p>
        </div>
    </div>

    <div  id="SecAdop">
        <div class="dataAdop">
            <mat-divider></mat-divider>
           <h3 class="center"><strong>Ingresa tus datos</strong></h3>
            <mat-form-field>
                <mat-label>Nombre Completo</mat-label>
                <input matInput
                    [formControl]="nombreAdop"
                    (blur)="updateErrorMessage()"
                required>
                <mat-icon matSuffix>person</mat-icon>
                @if (nombreAdop.invalid) {
                <mat-error>{{errorMessage}}</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Teléfono</mat-label>
                <input matInput
                type="number"
                [formControl]="telAdop"
                (blur)="updateErrorMessage2()"
                required
                >
                <mat-icon matSuffix>phone</mat-icon>
            @if (telAdop.invalid) {
            <mat-error>{{errorMessage2}}</mat-error>
            }
            </mat-form-field>
            <div>
                <mat-form-field>
                    <mat-label>Fecha de cita</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" (dateChange)="onDateChange($event)" #selectedDate>
                    <mat-hint>DD/MM/AAAA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <br>
            <div>
                <mat-form-field>
                    <mat-label>Horario</mat-label>
                    <mat-select [(ngModel)]="selectedHour">
                      <mat-option value="10:00">10:00</mat-option>
                      <mat-option value="10:30">10:30</mat-option>
                      <mat-option value="11:00">11:00</mat-option>
                      <mat-option value="11:30">11:30</mat-option>
                      <mat-option value="12:00">12:00</mat-option>
                      <mat-option value="12:30">12:30</mat-option>
                      <mat-option value="13:00">13:00</mat-option>
                      <mat-option value="13:30">13:30</mat-option>
                      <mat-option value="14:00">14:00</mat-option>
                      <mat-option value="14:30">14:30</mat-option>
                      <mat-option value="15:00">15:00</mat-option>
                      <mat-option value="15:30">15:30</mat-option>
                      <mat-option value="16:00">16:00</mat-option>
                      <mat-option value="16:30">16:30</mat-option>
                      <mat-option value="17:00">17:00</mat-option>
                      <mat-option value="17:30">17:30</mat-option>
                      <mat-option value="18:00">18:00</mat-option>
                      <mat-option value="18:30">18:30</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
        <div class="btnAc">
            <button id="btnDeleteData" mat-flat-button color="warn">Borrar datos</button>
            <button id="btnAgendar" mat-flat-button color="primary" (click)="GuardarCita()">Agendar</button>
        </div>
    </div>
</div>
